.mainFrame {
    position: relative;
    margin-top: 50px;
    padding-top: 56.25%;
    width: 100%;
}

.auxiliaryFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}