.headerBox {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 59px;
    background-color: rgba(127, 255, 212, 0);
}

.logoBox {
    width: 265px;
    height: 59px;
}

.buttonsBox {
    display: flex;
    justify-content: space-between;
    width: 657px;
}