.footerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1170px;
    height: 256px;
    margin-top: 50px;
}

.logoAndContacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Contacts {
    display: flex;
    justify-content: space-between;
    width: 129px;
    height: 36px;
}

.links {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 322px;
    height: 23px;
}

.comeback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 106px;
    height: 23px;
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-top: 1px solid #D9D9D9;
    width: 1170px;
    height: 57px;
}

.offer p {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.mrGray {
    color: rgba(0, 0, 0, 0.30);
}