.subScrbBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 1170px;
    height: 371px;
    border-radius: 31px;
    border: 1px solid #DCDCDC;
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.05);
    margin-top: 50px;
    padding: 45px;
    overflow: hidden;
}

.descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    width: 468px;
    height: 272px;
}

.descriptionsNews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 254px;
    height: 39px;
    border-radius: 11px 11px 11px 0px;
    background: rgba(67, 197, 158, 0.19);
    color: #43C59E;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.newsHeader {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 90px;
}

.sendBox {
    position: "relative";
    width: 463px;
    height: 62px;
    display: flex;
    background-color: #F7F7F7;
    border-radius: 14px;
}

.circle {
    top: -35px;
    left: 772px;
    display: block;
    position: absolute;
    width: 522px;
    height: 522px;
    border-radius: 522px;
    background: #FFB2D1;
    z-index: 1;
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.05);
}